<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>TMDEV Form Selector</title>
    </head>

    <body>
        <h1>Form Selector</h1>

        <h2>Speech for Today</h2>
        {% for s in speech_list %}
        <a href="{{ s.feedback_form }}/form">
            <div class="box">
                {{ s.speaker }}
                <br>
                <span>{{ s.speech_name }} : {{ s.pathway_challenge }}</span>
            </div>
        </a>
        {% endfor %}

        <h2>Add new Speech</h2>
        <form action="/selector/add_speech/" method="post">
            {% csrf_token %}
            <label for="speaker">Speaker: </label>
            <input id="speaker" type="text" name="speaker" value="">

            <label for="speaker_email">E-Mail: </label>
            <input id="speaker_email" type="text" name="speaker_email" value="">

            <label for="speech_name">Speech Name: </label>
            <input id="speech_name" type="text" name="speech_name" value="">

            <label for="pathway_challenge">Path-Way Challenge: </label>
            <input id="pathway_challenge" type="text" name="pathway_challenge" value="">

            <label>Feed-Back Form:
                <select id="feedback_form" name="feedback_form">
                    {% for fd_form in speech_feed_back_form %}
                    <option value="{{ fd_form.value }}">{{ fd_form.text }}</option>
                    {% endfor %}
                </select>
            </label>
            <input type="submit" value="OK">
        </form>
    </body>
</html>
