<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>TMDEV</title>
    </head>

    <body>
        <h1>{% block form_title %}{% endblock %}</h1>

        <p>{% block form_message %}{% endblock %}</p>

        <h2>Purpose Statement</h2>
        <p>{% block form_purpose %}
        {% endblock %}</p>

        <h2>Notes for the Evaluator</h2>
        <p>{% block form_notes %}
        {% endblock %}</p>

        <h2>General Comments</h2>
        <form action="/feedback/" method="post">
            {% csrf_token %}

            {% block form_questions %}
            {% endblock %}

            {% block form_options %}
            {% endblock %}

            <br>
            <input type="submit" value="OK">
        </form>

        <h2>Criteria</h2>
        <p>{% block form_criteria %}
        {% endblock %}</p>
    </body>
</html>